In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

respondent IDs for each lender

In [2]:
# banks
USBank= 504713
Wells=451965
Bell=19581

# online lenders
Quicken=7197000003
AMEC=411941324
Guaranteed=364327855

In [3]:
def LogRegress(X_train, y_train,X_test,y_test):
#####################################
# use Logistic Regression to train and test a model

    # create model
    LRmodel = LogisticRegression()
    # fit model with training data
#     print("X-train",X_train.head())
#     print("y_train",y_train.head())
    LRmodel.fit(X_train, y_train)
    # validate the model using testing data
    test_score=LRmodel.score(X_test, y_test)
    params=LRmodel.get_params(deep=False)
#    print("test_score",test_score)
#    print("params=",params)
    return test_score

In [5]:
def AssignData(set, data_df):
##############################################
# set = 0 use all of data_df this is all lenders
# set = 1 select from data_df for 'respondent id' in Banks
# set = 2 select from data_df for 'respondent id' in Online
# set > 3 select from data_df for 'respondent id' = set

    #reduce the data used for set > 0 to a subset of lenders or a particular lender
    if set > 3 :
        data_df=data_df.loc[data_df['respondent id'] == set,:]
    elif set == 2:
        data_df=data_df.loc[(data_df['respondent id'] == Quicken) | (data_df['respondent id'] == AMEC) | (data_df['respondent id'] == Guaranteed), :]
    elif set == 1:
        data_df=data_df.loc[(data_df['respondent id'] == USBank) | (data_df['respondent id'] == Wells) | (data_df['respondent id'] == Bell), :]
           
        # Assign X (data) and y (target)
    X=data_df.drop(["action modified","respondent id"],axis=1)
    y=data_df["action modified"]
#    print("shape", X.shape, y.shape)

    X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

    return LogRegress(X_train, y_train,X_test,y_test)

In [6]:
def AssignData2(set, data_df,test_df):
##############################################
# FOR USE WHEN TRAINING AND TESTING ON DIFFERENT SETS
# set = 0 use all of data_df this is all lenders
# set = 1 select from data_df for 'respondent id' in Banks
# set = 2 select from data_df for 'respondent id' in Online
# set > 3 select from data_df for 'respondent id' = set

    #reduce the data used for set > 0 to a subset of lenders or a particular lender
    if set > 3 :
        data_df=data_df.loc[data_df['respondent id'] == set,:]
        test_df=test_df.loc[test_df['respondent id'] == set,:]
    elif set == 2:
        data_df=data_df.loc[(data_df['respondent id'] == Quicken) | (data_df['respondent id'] == AMEC) | (data_df['respondent id'] == Guaranteed), :]
        test_df=test_df.loc[(test_df['respondent id'] == Quicken) | (test_df['respondent id'] == AMEC) | (test_df['respondent id'] == Guaranteed), :]
    elif set == 1:
        data_df=data_df.loc[(data_df['respondent id'] == USBank) | (data_df['respondent id'] == Wells) | (data_df['respondent id'] == Bell), :]
        test_df=test_df.loc[(test_df['respondent id'] == USBank) | (test_df['respondent id'] == Wells) | (test_df['respondent id'] == Bell), :]
           
        # Assign X (data) and y (target) for training
    X_train=data_df.drop(["action modified","respondent id"],axis=1)
    y_train=data_df["action modified"]
    
            # Assign X (data) and y (target) for test
    X_test=test_df.drop(["action modified","respondent id"],axis=1)
    y_test=test_df["action modified"]
#    print("shape", X.shape, y.shape)


    return LogRegress(X_train, y_train,X_test,y_test)

In [7]:
def LenderTest(test_data):
#################################################
# goes through the 9 tests  with one version of the test data
# 0- All data
# 1- all banks
# 2- all online lenders
# 3 USBANK 4- Wells 5- Bell 
# 6- Quicken 7- AMEC 8- Guaranteed
# returns the results in series
############################################################
    result_list=[]
    # get result for all data
    result_list.append(AssignData(0,test_data))
    # get result for all banks
    result_list.append(AssignData(1,test_data))
    #result for all online
    result_list.append(AssignData(2,test_data))
    # result for USBank, Wells, Bell 
    result_list.append(AssignData(USBank,test_data))
    result_list.append(AssignData(Wells,test_data))
    result_list.append(AssignData(Bell,test_data))
    #result for Quicken, AMEC, Guaranteed
    result_list.append(AssignData(Quicken,test_data))
    result_list.append(AssignData(AMEC,test_data))
    result_list.append(AssignData(Guaranteed,test_data))
    return result_list

In [12]:
def LenderTest2(train_data,test_data):
#################################################
# FOR USE WHEN TRAINING AND TESTING ON DIFFERENT SETS
# goes through the 9 tests  with one version of the test data
# 0- All data
# 1- all banks
# 2- all online lenders
# 3 USBANK 4- Wells 5- Bell 
# 6- Quicken 7- AMEC 8- Guaranteed
# returns the results in series
############################################################
    result_list=[]
    # get result for all data
    result_list.append(AssignData2(0,train_data,test_data))
    # get result for all banks
    result_list.append(AssignData2(1,train_data,test_data))
    #result for all online
    result_list.append(AssignData2(2,train_data,test_data))
    # result for USBank, Wells, Bell 
    result_list.append(AssignData2(USBank,train_data,test_data))
    result_list.append(AssignData2(Wells,train_data,test_data))
    result_list.append(AssignData2(Bell,train_data,test_data))
    #result for Quicken, AMEC, Guaranteed
    result_list.append(AssignData2(Quicken,train_data,test_data))
    result_list.append(AssignData2(AMEC,train_data,test_data))
    result_list.append(AssignData2(Guaranteed,train_data,test_data))
    return result_list

In [13]:
file="AllData2017.csv"
loan_data=pd.read_csv(file)

loan_data=loan_data[["respondent id","agency code","property type","loan purpose","loan amount","county",\
                     "applicant race 1","sex","type of purchaser", "hoepa status","lien status","loan type modified",\
                     "action modified","income cleaned","income loan ratio"]]

sexless_data=loan_data.drop(["sex"], axis=1)

raceless_data=loan_data.drop(["applicant race 1"], axis=1)
loantypeless_data=loan_data.drop(["loan type modified"], axis=1) 
incomeratioless_data=loan_data.drop(["income loan ratio"], axis=1) 
incomeless_data=loan_data.drop(["income cleaned","income loan ratio"], axis=1)
loanamountless_data=loan_data.drop(["loan amount","income loan ratio"], axis=1)
financeless_data=loan_data.drop(["income cleaned","loan amount","income loan ratio"], axis=1)

sexless_data.tail()

,respondent id,agency code,property type,loan purpose,loan amount,county,applicant race 1,type of purchaser,hoepa status,lien status,loan type modified,action modified,income cleaned,income loan ratio
48024,364327855,7,1,1,486,163,5,6,2,1,1,1,144,338
48025,364327855,7,1,1,7,3,5,9,2,2,1,1,52,13
48026,364327855,7,1,1,8,53,2,9,2,2,1,1,27,30
48027,364327855,7,1,3,88,53,5,1,2,1,1,1,28,314
48028,364327855,7,1,3,102,145,5,6,2,1,1,1,32,319

In [16]:
# single gender  - genderless data
female_data=loan_data[loan_data["sex"] == 2]
female_data=female_data.drop(["sex"],axis=1)
male_data=loan_data[loan_data["sex"] == 1]
male_data=male_data.drop(["sex"],axis=1)

#single race - raceless data
indian_data=loan_data[loan_data["applicant race 1"] == 1]
indian_data=indian_data.drop(["applicant race 1"],axis=1)
asian_data=loan_data[loan_data["applicant race 1"] == 2]
asian_data=asian_data.drop(["applicant race 1"],axis=1)
black_data=loan_data[loan_data["applicant race 1"] == 3]
black_data=black_data.drop(["applicant race 1"],axis=1)
hawaii_data=loan_data[loan_data["applicant race 1"] == 4]
hawaii_data=hawaii_data.drop(["applicant race 1"],axis=1)
white_data=loan_data[loan_data["applicant race 1"] == 5]
white_data=white_data.drop(["applicant race 1"],axis=1)

In [17]:
result_df=pd.DataFrame(index=["all","banks","online","usbank","wells","bell","quicken","amec","guaranteed"])

result_df["all_fields"]=LenderTest(loan_data)
result_df["sexless"]=LenderTest(sexless_data)
result_df["female"]=LenderTest2(sexless_data,female_data)
result_df["male"]=LenderTest2(sexless_data,male_data)

result_df["raceless"]=LenderTest(raceless_data)
result_df["indian"]=LenderTest2(raceless_data,indian_data)
result_df["asian"]=LenderTest2(raceless_data,asian_data)
result_df["black"]=LenderTest2(raceless_data,black_data)
result_df["hawaiian"]=LenderTest2(raceless_data,hawaii_data)
result_df["white"]=LenderTest2(raceless_data,white_data)

result_df["loantypeless"]=LenderTest(loantypeless_data)
result_df["incomeratioless"]=LenderTest(incomeratioless_data)
result_df["incomeless"]=LenderTest(incomeless_data)
result_df["loanamountless"]=LenderTest(loanamountless_data)
result_df["financeless"]=LenderTest(financeless_data)
result_df

,all_fields,sexless,female,male,raceless,indian,asian,black,hawaiian,white,loantypeless,incomeratioless,incomeless,loanamountless,financeless
all,0.879997,0.878831,0.878677,0.889225,0.880247,0.800813,0.861798,0.851906,0.851852,0.889715,0.870919,0.878081,0.874001,0.878414,0.872585
banks,0.860973,0.860852,0.857361,0.874274,0.857819,0.740331,0.845657,0.792291,0.782609,0.872076,0.855514,0.855392,0.846779,0.856363,0.841684
online,0.962815,0.962815,0.969295,0.965467,0.962815,0.953846,0.968992,0.976744,0.948718,0.972316,0.962815,0.962815,0.962815,0.962815,0.962815
usbank,0.786088,0.787958,0.773760,0.804874,0.786088,0.655172,0.769892,0.654362,0.593750,0.803579,0.777861,0.773373,0.774495,0.774121,0.772251
wells,0.886903,0.887170,0.872621,0.898369,0.884503,0.774194,0.882629,0.812500,0.833333,0.893094,0.886636,0.888504,0.883169,0.886370,0.876500
bell,0.976387,0.976387,0.977760,0.975346,0.977485,0.900000,0.979239,0.965116,0.714286,0.977546,0.973641,0.974739,0.976387,0.975288,0.974739
quicken,0.932252,0.932252,0.934077,0.928571,0.932252,0.923077,0.908397,0.935714,0.866667,0.938582,0.932252,0.932252,0.932252,0.932252,0.932252
amec,0.999253,0.999253,0.999463,1.000000,0.999253,1.000000,1.000000,0.995745,1.000000,1.000000,0.999253,0.999253,0.999253,0.999253,0.999253
guaranteed,0.996979,0.996979,0.997845,0.995204,0.996979,1.000000,1.000000,1.000000,1.000000,0.996488,0.996979,0.996979,0.996979,0.996979,0.996979