In [1]:
import pandas as pd
import numpy as np
import sklearn
import sklearn.datasets

In [2]:
loans_df = pd.read_csv('AllData2017.csv')
#loans_df = pd.read_csv('WF_USB_Data2017.csv')
loans_df.head()

,Index,respondent id,agency code,loan type,property type,loan purpose,owner occ,loan amount,pre approval,action taken,...,denial reason 1,denial reason 2,denial reason 3,rate of spread,hoepa status,lien status,loan type modified,action modified,income cleaned,income loan ratio
0,1,451965,9,1,1,3,1,43,3,1,...,NaN,NaN,NaN,NaN,2,1,1,1,41,105
1,2,451965,9,2,1,1,1,53,3,1,...,NaN,NaN,NaN,NaN,2,1,0,1,0,0
2,3,451965,9,1,1,3,1,114,3,1,...,NaN,NaN,NaN,NaN,2,1,1,1,55,207
3,4,451965,9,1,1,3,1,142,3,1,...,NaN,NaN,NaN,NaN,2,1,1,1,75,189
4,5,451965,9,1,1,1,1,162,3,1,...,NaN,NaN,NaN,NaN,2,1,1,1,0,0

In [3]:
# Assign X (data) and y (target)
#drop all of the columns with non-numeric data
X=loans_df.drop(["action modified","respondent id", "state", "hoepa status", "Index", "agency code", "income", "msa/md", "pre approval", "action taken", "sex", "applicant race 1", "denial reason 1", "denial reason 2", "rate of spread", "denial reason 3", "type of purchaser"],axis=1)
y=loans_df["action modified"]
print(X.shape, y.shape)
X.head()

(48029, 11) (48029,)

,loan type,property type,loan purpose,owner occ,loan amount,county,census tract,lien status,loan type modified,income cleaned,income loan ratio
0,1,1,3,1,43,109,10.00,1,1,41,105
1,2,1,1,1,53,33,2704.00,1,0,0,0
2,1,1,3,1,114,53,210.01,1,1,55,207
3,1,1,3,1,142,123,374.02,1,1,75,189
4,1,1,1,1,162,123,416.02,1,1,0,0

In [4]:
# Use train_test_split to create training and testing data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [5]:
from sklearn.preprocessing import StandardScaler

# Create a StandardScater model and fit it to the training data
X_scaler = StandardScaler().fit(X_train)

In [6]:
# Transform the training and testing data using the X_scaler

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [7]:
from keras.utils import to_categorical

# One-hot encoding
y_train_categorical = to_categorical(y_train)
y_test_categorical = to_categorical(y_test)

C:\Users\llreb\Anaconda3\envs\PythonData\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [8]:
# First, create a normal neural network with 
from keras.models import Sequential
from keras.layers import Dense

model = Sequential()
model.add(Dense(units=100, activation='relu', input_dim=11))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=2, activation='softmax'))

In [9]:
#model.summary()

In [10]:
# Compile the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [11]:
# Fit the model to the training data
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=100,
    shuffle=True,
    verbose=2
)

Epoch 1/100
 - 1s - loss: 0.4069 - acc: 0.8330
Epoch 2/100
 - 1s - loss: 0.3957 - acc: 0.8357
Epoch 3/100
 - 1s - loss: 0.3933 - acc: 0.8368
Epoch 4/100
 - 1s - loss: 0.3921 - acc: 0.8378
Epoch 5/100
 - 1s - loss: 0.3917 - acc: 0.8390
Epoch 6/100
 - 1s - loss: 0.3914 - acc: 0.8377
Epoch 7/100
 - 1s - loss: 0.3904 - acc: 0.8386
Epoch 8/100
 - 1s - loss: 0.3902 - acc: 0.8383
Epoch 9/100
 - 1s - loss: 0.3900 - acc: 0.8386
Epoch 10/100
 - 1s - loss: 0.3892 - acc: 0.8388
Epoch 11/100
 - 1s - loss: 0.3890 - acc: 0.8396
Epoch 12/100
 - 1s - loss: 0.3887 - acc: 0.8382
Epoch 13/100
 - 1s - loss: 0.3885 - acc: 0.8391
Epoch 14/100
 - 1s - loss: 0.3883 - acc: 0.8397
Epoch 15/100
 - 1s - loss: 0.3880 - acc: 0.8394
Epoch 16/100
 - 1s - loss: 0.3873 - acc: 0.8394
Epoch 17/100
 - 1s - loss: 0.3873 - acc: 0.8399
Epoch 18/100
 - 1s - loss: 0.3868 - acc: 0.8402
Epoch 19/100
 - 1s - loss: 0.3866 - acc: 0.8402
Epoch 20/100
 - 1s - loss: 0.3866 - acc: 0.8402
Epoch 21/100
 - 1s - loss: 0.3865 - acc: 0.8399
Epoch 22/100
 - 1s - loss: 0.3861 - acc: 0.8411
Epoch 23/100
 - 1s - loss: 0.3855 - acc: 0.8403
Epoch 24/100
 - 1s - loss: 0.3856 - acc: 0.8406
Epoch 25/100
 - 1s - loss: 0.3851 - acc: 0.8409
Epoch 26/100
 - 1s - loss: 0.3848 - acc: 0.8405
Epoch 27/100
 - 1s - loss: 0.3846 - acc: 0.8410
Epoch 28/100
 - 1s - loss: 0.3848 - acc: 0.8422
Epoch 29/100
 - 1s - loss: 0.3843 - acc: 0.8404
Epoch 30/100
 - 1s - loss: 0.3844 - acc: 0.8410
Epoch 31/100
 - 1s - loss: 0.3840 - acc: 0.8416
Epoch 32/100
 - 1s - loss: 0.3834 - acc: 0.8416
Epoch 33/100
 - 1s - loss: 0.3835 - acc: 0.8419
Epoch 34/100
 - 1s - loss: 0.3832 - acc: 0.8423
Epoch 35/100
 - 1s - loss: 0.3826 - acc: 0.8417
Epoch 36/100
 - 1s - loss: 0.3830 - acc: 0.8422
Epoch 37/100
 - 1s - loss: 0.3827 - acc: 0.8422
Epoch 38/100
 - 1s - loss: 0.3824 - acc: 0.8416
Epoch 39/100
 - 1s - loss: 0.3828 - acc: 0.8421
Epoch 40/100
 - 1s - loss: 0.3823 - acc: 0.8422
Epoch 41/100
 - 1s - loss: 0.3816 - acc: 0.8419
Epoch 42/100
 - 1s - loss: 0.3814 - acc: 0.8422
Epoch 43/100
 - 1s - loss: 0.3812 - acc: 0.8435
Epoch 44/100
 - 1s - loss: 0.3814 - acc: 0.8423
Epoch 45/100
 - 1s - loss: 0.3810 - acc: 0.8428
Epoch 46/100
 - 1s - loss: 0.3808 - acc: 0.8426
Epoch 47/100
 - 1s - loss: 0.3805 - acc: 0.8434
Epoch 48/100
 - 1s - loss: 0.3802 - acc: 0.8434
Epoch 49/100
 - 1s - loss: 0.3801 - acc: 0.8433
Epoch 50/100
 - 1s - loss: 0.3797 - acc: 0.8434
Epoch 51/100
 - 1s - loss: 0.3793 - acc: 0.8439
Epoch 52/100
 - 1s - loss: 0.3793 - acc: 0.8445
Epoch 53/100
 - 1s - loss: 0.3793 - acc: 0.8436
Epoch 54/100
 - 1s - loss: 0.3787 - acc: 0.8444
Epoch 55/100
 - 1s - loss: 0.3784 - acc: 0.8441
Epoch 56/100
 - 1s - loss: 0.3785 - acc: 0.8432
Epoch 57/100
 - 1s - loss: 0.3777 - acc: 0.8443
Epoch 58/100
 - 1s - loss: 0.3778 - acc: 0.8440
Epoch 59/100
 - 1s - loss: 0.3782 - acc: 0.8444
Epoch 60/100
 - 1s - loss: 0.3776 - acc: 0.8459
Epoch 61/100
 - 1s - loss: 0.3773 - acc: 0.8442
Epoch 62/100
 - 1s - loss: 0.3773 - acc: 0.8453
Epoch 63/100
 - 1s - loss: 0.3768 - acc: 0.8455
Epoch 64/100
 - 1s - loss: 0.3769 - acc: 0.8450
Epoch 65/100
 - 1s - loss: 0.3760 - acc: 0.8449
Epoch 66/100
 - 1s - loss: 0.3761 - acc: 0.8456
Epoch 67/100
 - 1s - loss: 0.3753 - acc: 0.8464
Epoch 68/100
 - 1s - loss: 0.3755 - acc: 0.8457
Epoch 69/100
 - 1s - loss: 0.3752 - acc: 0.8460
Epoch 70/100
 - 1s - loss: 0.3751 - acc: 0.8456
Epoch 71/100
 - 1s - loss: 0.3753 - acc: 0.8454
Epoch 72/100
 - 1s - loss: 0.3744 - acc: 0.8463
Epoch 73/100
 - 1s - loss: 0.3749 - acc: 0.8457
Epoch 74/100
 - 1s - loss: 0.3736 - acc: 0.8468
Epoch 75/100
 - 1s - loss: 0.3743 - acc: 0.8453
Epoch 76/100
 - 1s - loss: 0.3736 - acc: 0.8454
Epoch 77/100
 - 1s - loss: 0.3730 - acc: 0.8468
Epoch 78/100
 - 1s - loss: 0.3735 - acc: 0.8469
Epoch 79/100
 - 1s - loss: 0.3730 - acc: 0.8467
Epoch 80/100
 - 1s - loss: 0.3727 - acc: 0.8468
Epoch 81/100
 - 1s - loss: 0.3727 - acc: 0.8461
Epoch 82/100
 - 1s - loss: 0.3728 - acc: 0.8462
Epoch 83/100
 - 1s - loss: 0.3722 - acc: 0.8463
Epoch 84/100
 - 1s - loss: 0.3723 - acc: 0.8474
Epoch 85/100
 - 1s - loss: 0.3716 - acc: 0.8471
Epoch 86/100
 - 1s - loss: 0.3715 - acc: 0.8470
Epoch 87/100
 - 1s - loss: 0.3717 - acc: 0.8468
Epoch 88/100
 - 1s - loss: 0.3708 - acc: 0.8482
Epoch 89/100
 - 1s - loss: 0.3715 - acc: 0.8483
Epoch 90/100
 - 1s - loss: 0.3706 - acc: 0.8473
Epoch 91/100
 - 1s - loss: 0.3704 - acc: 0.8476
Epoch 92/100
 - 1s - loss: 0.3703 - acc: 0.8469
Epoch 93/100
 - 1s - loss: 0.3699 - acc: 0.8481
Epoch 94/100
 - 1s - loss: 0.3709 - acc: 0.8471
Epoch 95/100
 - 1s - loss: 0.3692 - acc: 0.8479
Epoch 96/100
 - 1s - loss: 0.3690 - acc: 0.8486
Epoch 97/100
 - 1s - loss: 0.3690 - acc: 0.8487
Epoch 98/100
 - 1s - loss: 0.3694 - acc: 0.8488
Epoch 99/100
 - 1s - loss: 0.3683 - acc: 0.8484
Epoch 100/100
 - 1s - loss: 0.3688 - acc: 0.8481

In [12]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

Normal Neural Network - Loss: 0.40350615946473, Accuracy: 0.8350266489007329

In [13]:
# pull the test applicants
# 2 - Asian
# 3 - African American
# 5 - white
# sex = 1 male
#sex = 2 female
test_df=loans_df.loc[loans_df["applicant race 1"] == 3,:]
#test_df=loans_df.loc[loans_df["sex"] == 1,:]
test_df.head()

,Index,respondent id,agency code,loan type,property type,loan purpose,owner occ,loan amount,pre approval,action taken,...,denial reason 1,denial reason 2,denial reason 3,rate of spread,hoepa status,lien status,loan type modified,action modified,income cleaned,income loan ratio
3,4,451965,9,1,1,3,1,142,3,1,...,NaN,NaN,NaN,NaN,2,1,1,1,75,189
27,28,451965,9,1,1,3,1,140,3,1,...,NaN,NaN,NaN,NaN,2,1,1,1,42,333
91,92,451965,9,1,1,1,1,72,3,3,...,1.0,NaN,NaN,NaN,2,1,1,0,192,38
194,195,451965,9,1,1,3,1,86,3,1,...,NaN,NaN,NaN,NaN,2,1,1,1,48,179
200,201,451965,9,2,1,1,1,179,3,3,...,2.0,NaN,NaN,NaN,2,1,0,0,19,942

In [14]:

X_predict=test_df.drop(["action modified","respondent id", "state", "hoepa status", "Index", "agency code", "income", "msa/md", "pre approval", "action taken", "sex", "applicant race 1", "denial reason 1", "denial reason 2", "rate of spread", "denial reason 3", "type of purchaser"],axis=1)
y_predict=test_df["action modified"]
print(X_predict.shape, y_predict.shape)

(1364, 11) (1364,)

In [15]:
# scale the predictive data
X_predict_scaled = X_scaler.transform(X_predict)
y_predict_categorical = to_categorical(y_predict)

In [16]:
#make a prediction and compare it to the actual labels
predictions = model.predict_classes(X_predict_scaled)
predict_df = pd.DataFrame({"Prediction": predictions, "Actual": y_predict})
#predict_df.head()

In [17]:
model_loss, model_accuracy = model.evaluate(
    X_predict_scaled, y_predict_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

Normal Neural Network - Loss: 0.45844015291184625, Accuracy: 0.7969208209395758

In [ ]:
predict_df.to_csv("predictions2.csv")

In [18]:
# Calculate confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_predict, predictions)

array([[ 98, 251],
       [ 26, 989]], dtype=int64)