In [10]:
import pandas as pd
my_dict = [[1,2,'ed'],[4,5,'tom'],[6,7,'sue']]
my_df=pd.DataFrame(my_dict)
my_df=my_df.append([[8,9,'ralph']])
my_df

   0  1      2
0  1  2     ed
1  4  5    tom
2  6  7    sue
0  8  9  ralph

In [12]:
out_df=pd.DataFrame([])
out_df=out_df.append([[8,9,'ralph']],ignore_index=True)

out_df=out_df.rename(columns={0:'A',1:'B',2:'C'})
out_df

   A  B      C
0  8  9  ralph